/* src/pages/Translation/Request.css */
.container {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  color: #333;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 8px;
}

input[type="text"],
textarea {
  margin-bottom: 16px;
  padding: 10px;
  width: 100%;
}

input[type="file"] {
  margin-bottom: 16px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
.confirmation-message {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  padding: 10px;
  margin-bottom: 15px;
}